.mainBody {
    height: 100%;
    transition: 1s;
}

.mainBody .mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    height: 15%;
    transition: 1s;
}

.mainBody .mainHeader .mainIcon{
    height: 50%;
    width: auto;
    transition: 1s;
}

.mainBody .mainHeader .mainTitle{
    transition: 1s;
}
.mainBody .mainHeader .mainButton button{ 
    border-radius: 20%;
    border-width: 0;
    text-emphasis-color: white;
    padding: 5px 10px;
    transition: 1s;
}    

.mainBody .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px, 0;
    height: 75%;
    transition: 1s;
}

.mainBody .mainContent .mainCentralBox {
    display: flex;
    flex-direction: column;
    height: 70%;
    max-width: 70vh;
    min-width: 50%;
    width: 70%;
    border-radius: 3%;
    transition: 1s;
}

.mainBody .mainContent {
    height: 75%;
    transition: 1s;
}

.mainBody .mainFooter {
    height: 10%;
    transition: 1s;
}